name: Run Python Script

on:
  push:
    branches: [ master ]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Run Python script
        env:
          TARGET_URL: ${{ vars.TARGET_URL }}
          SIGNING_SECRET: ${{ secrets.SIGNING_SECRET }}
        run: devenv shell python application.py
